{% extends "base.html" %}

{% block title %}Report a Bug{% endblock %}

{% block content %}
<p>To report a bug, you can:
<ul>
  <li>fill a bug report on the issue tracker at <a href="http://github.com/stephane/libmodbus/issues">http://github.com/stephane/libmodbus/issues</a></li>
  <li>or send an email to the libmodbus mailing list <a href="mailto:libmodbus@googlegroups.com">libmodbus@googlegroups.com</a> (<a href="http://groups.google.com/group/libmodbus/">view public archive</a>)</li>
</ul>

<p>If your prefer live talk when your're looking for help or to offer contribution, there is also a channel called #libmodbus on Freenode.</p>

<p>The <a href="http://webstack.fr">Webstack</a> company provides commercial support.</p>
{% endblock %}
