{% macro html5_date(date, format='%B %d, %Y', pubdate=True) -%}
    <time datetime="{{ date.isoformat() }}" {{ 'pubdate' if pubdate }}>
        {{- date.strftime(format) }}</time>
{%- endmacro %}

{% macro article_list(articles) %}
{% if articles %}
  <section class="article_list">
  {% for article in articles %}
    <article>
      <header class="article-header">
        <a class="article-title" href="{{ article.url() }}">{{ article.title }}</a>
        <br>
        {{ article.summary|default|markdown|safe }}
        <span class="article-date">{{ html5_date(article.published) }}</span>
      </header>
    </article>
  {% endfor %}
  </section>
{% endif %}
{% endmacro %}
